<div class="form-container">
  <div class="form-group">
    <label for="dateDebut">Date Debut</label>
    <input type="date" class="form-control" id="dateDebut" [(ngModel)]="task.dateDebut" name="dateDebut">
  </div>
  <div class="form-group">
    <label for="typetask">Type Task</label>
    <input type="text" class="form-control" id="typetask" [(ngModel)]="task.typetask" name="typetask">
  </div>
  <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
    <button (click)="onSubmit()" type="button" class="btn btn-primary m-t-15 waves-effect">Add</button>
  </div>
</div>
